@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



*{
    margin: 0;
    padding: 0;
}
@mixin tText{
    span{
        display: flex;
        position: relative;
        padding-left: 70px;
        color: $clY;
        font-size: 20px;
        font-family: 'Ubuntu Mono', sans-serif;
        &:before{
            content: '';
            position: absolute;
            width: 60px;
            height: 2px;
            top: 50%;
            left: 0;
            background: $clY;
            color: $clY;
            font-size: 20px;
        }
    }
}
$clY: #FBD784;


.content{
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}
header{
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
    background:url(./images/gori.jpg) no-repeat;
    width: 100%;
    background-size: cover;
    height: 100%;
}
.conteiner{
    width: 1170px;
    margin: 0 auto;
    padding-bottom: 300px;
    .header__menu{
        font-family: 'Ubuntu Mono', monospace;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo a{
            font-size: 30px;
            text-decoration: none;
            color: #000;
        }
        .menu__item a{
            font-family: 'Lato', sans-serif;
            color: #000;
            text-decoration: none;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                text-decoration: underline;
            }  
        }
        .login a{
            color: #000;
            text-decoration: none;
            margin-left: 10px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .header__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
        margin: 0;
        color: #000;
        .header__content-social{
            text-align: left;
            transform: rotate(90deg) translate(-10px, 0%);
            margin-left: -50px;
            .fab{
                transform: rotate(-90deg);
                margin-left: 20px;
                font-size: 20px;
                color: #000;
            }
        }
        .header__content-text{
            font-family: 'Lato';
            display: flex;
            flex-direction: column;
            font-style: normal;
            position: relative;
            font-weight: 600;
            font-size: 28px;
            width: 600px;
            @include tText;
        }
        .header__content-navigate{
           display: flex;
           flex-direction: column;
           text-align: right;
           & a{
            margin-top: 10px;
            text-decoration: none;
            color: #000;
            &:hover{
                text-decoration: underline;
            } 
           }
        }
    }
}
.travel__content{
    width: 1024px;
    margin: 0 auto;
    color: #fff;
    .travel__content-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        &:last-child{
            padding: 100px 0;
        }
        .travel__text{
            position: relative;
            width: 450px;
            @include tText;
            .travelNum{
                width: 150px;
                position: absolute;
                left: -15%;
                top: -25%;
            }
            & h1{
                margin-top: 15px;
                font-size: 40px;
            }
            & p{
                font-family: 'Ubuntu Mono', sans-serif;
                margin-top: 20px;
            }
        }
        .travel__content-img{
            & img{
                background-size: cover;
                width: 400px;
                height: 500px;
            }
        }
    }
}
footer{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    .footer__logo{
        color: #fff;
        width: 300px;
    }
    .footer__menu{
        display: flex;
        justify-content: space-between;
        width: 400px;
        color: $clY;
        & a{
            margin-top: 15px;
            text-decoration: none;
            color: #fff;
            &:hover{
                text-decoration: underline;
            } 
        }
        .footer__menu-col1{
            display: flex;
            flex-direction: column;
        }
        .footer__menu-col2{
            display: flex;
            flex-direction: column;
        }
    }
}
@media(max-width: 1280px){
    .content{
        width: 100%;
        margin: 0 auto;
        .conteiner{
            width: 1000px;
            margin: 0 auto;
            .header__menu{
                padding: 60px 0;
            }
        }
        .travel__content{
            width: 970px;
            margin: 0 auto;
            .travel__content-block{
                &:last-child{
                    padding: 100px 0;
                }
                .travel__text{
                    width: 400px;
                    @include tText;
                    .travelNum{
                        left: -10%;
                        top: -30%;
                    }
                }
            }
        }
    }
    
}
@media(max-width: 1024px){
    .content{
        width: 100%;
        margin: 0 auto;
        .conteiner{
            width: 770px;
            margin: 0 auto;
            .header__menu{
                padding: 60px 0;
            }
            .header__content-social{
                text-align: left;
                transform: rotate(90deg) translate(-10px, 0%);
                margin-left: -50px;
                .fab{
                    transform: rotate(-90deg);
                    margin-left: 20px;
                    font-size: 18px;
                    color: #000;
                }
            }
        }
        .travel__content{
            width: 770px;
            margin: 0 auto;
            .travel__content-block{
                &:last-child{
                    padding: 100px 0;
                }
                .travel__text{
                    @include tText;
                    .travelNum{
                        left: 0;
                        top: -30%;
                    }
                }
                .travel__content-img{
                    & img{
                        background-size: cover;
                        width: 300px;
                        height: 400px;
                    }
                }
            }
        }
        footer{
            width: 770px;
            margin: 0 auto;
            .footer__logo{
                color: #fff;
                width: 300px;
            }
            .footer__menu{
                display: flex;
                justify-content: space-between;
                width: 400px;
                color: $clY;
                & a{
                    margin-top: 15px;
                    text-decoration: none;
                    color: #fff;
                }
                .footer__menu-col1{
                    display: flex;
                    flex-direction: column;
                }
                .footer__menu-col2{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .content{
        font-size: 18px;
        width: 768px;
        margin: 0 auto;
        background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
        .conteiner{
            width: 768px;
            margin: 0 auto;
            .header__menu{
                width: 700px;
                margin: 0 auto;
                .logo a{
                    font-size: 40px;
                }
                .menu__item a{
                    font-size: 20px;
                }
                .login a{
                    font-size: 20px;
                }
            }
            .header__content{
                width: 700px;
                margin: 0 auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 100px 30px;
                margin: 0;
                .header__content-social{
                    display: flex;
                    font-size: 20px;
                    margin-right: 0;
                }
                .header__content-navigate{
                    font-size: 20px;
                }
            }
        }
        .travel__content{
            width: 700px;
            margin: 0 auto;
            padding: 50px 0;
            .travel__content-block{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                position: relative;
                margin-top: 100px;
                &:last-child{
                    padding: 0;
                }
                .travel__text{
                    position: absolute;
                    width: 450px;
                    @include tText;
                    .travelNum{
                        width: 150px;
                        position: absolute;
                        left: -15%;
                        top: -10%;
                    }
                    & :last-child{
                        padding-bottom: 300px;
                    }
                    & h1{
                        margin-top: 15px;
                        font-size: 40px;
                    }
                    & p{
                        font-family: 'Ubuntu Mono', sans-serif;
                        margin-top: 20px;
                    }
                }
                .travel__content-img{
                    margin-top: 300px;
                    & img{
                        background-size: cover;
                        width: 400px;
                        height: 500px;
                    }
                }
            }
        }
        footer{
            width: 700px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-bottom: 70px;
            .footer__logo{
                color: #fff;
                width: 260px;
            }
            .footer__menu{
                display: flex;
                justify-content: space-between;
                width: 400px;
                color: $clY;
                & a{
                    margin-top: 15px;
                    text-decoration: none;
                    color: #fff;
                }
                .footer__menu-col1{
                    display: flex;
                    flex-direction: column;
                }
                .footer__menu-col2{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}