@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



*{
    margin: 0;
    padding: 0;
}
@mixin tText{
    span{
        display: flex;
        position: relative;
        padding-left: 70px;
        color: $clY;
        font-size: 20px;
        font-family: 'Ubuntu Mono', sans-serif;
        &:before{
            content: '';
            position: absolute;
            width: 60px;
            height: 2px;
            top: 50%;
            left: 0;
            background: $clY;
            color: $clY;
            font-size: 20px;
        }
    }
}
$clY: #FBD784;

body{
    background:url(./images/VG.png) no-repeat;
    background:url(./images/BGHero.png) no-repeat;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
    background:url(./images/bodyImg.png) no-repeat;
    object-fit: cover;
}
.content{
    background: linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%);
}
.conteiner{
    width: 1170px;
    margin: 0 auto;
    .header__menu{
        font-family: 'Ubuntu Mono', monospace;
        padding: 40px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo a{
            font-size: 30px;
            text-decoration: none;
            color: #fff;
        }
        .menu__item a{
            font-family: 'Lato', sans-serif;
            color: #000;
            text-decoration: none;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }   
        }
        .login a{
            color: #000;
            text-decoration: none;
            margin-left: 10px;
            
        }
    }
    .header__content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 100px 0;
        margin: 0;
        .header__content-social{
            text-align: left;
            transform: rotate(90deg) translate(-10px, 0%);
            margin-left: -50px;
            .fab{
                transform: rotate(-90deg);
                margin-left: 20px;
            }
        }
        .header__content-text{
            font-family: 'Lato';
            display: flex;
            flex-direction: column;
            font-style: normal;
            position: relative;
            font-weight: 600;
            font-size: 28px;
            width: 600px;
            @include tText;
        }
        .header__content-navigate{
           display: flex;
           flex-direction: column;
           text-align: right;
           padding: 10px 20px;
           & a{
            margin-top: 10px;
            text-decoration: none;
            color: #000;
           }
        }
    }
}
.travel__content{
    width: 1024px;
    margin: 0 auto;
    padding-top: 300px;
    color: #fff;
    .travel__content-block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 100px;
        &:last-child{
            padding: 100px 0;
        }
        .travel__text{
            position: relative;
            width: 450px;
            height: 160px;
            @include tText;
            .travelNum{
                width: 150px;
                position: absolute;
                left: -15%;
                top: -30%;
            }
            & h1{
                margin-top: 15px;
                font-size: 40px;
            }
            & p{
                font-family: 'Ubuntu Mono', sans-serif;
                margin-top: 20px;
            }
        }
        .travel__content-img{
            & img{
                background-size: cover;
                width: 400px;
                height: 500px;
            }
        }
    }
}
footer{
    width: 1024px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    .footer__logo{
        color: #fff;
        width: 300px;
    }
    .footer__menu{
        display: flex;
        justify-content: space-between;
        width: 400px;
        color: $clY;
        & a{
            margin-top: 15px;
            text-decoration: none;
            color: #fff;
        }
        .footer__menu-col1{
            display: flex;
            flex-direction: column;
        }
        .footer__menu-col2{
            display: flex;
            flex-direction: column;
        }
    }
}
@media(max-width: 1280px){
    .content{
        width: 100%;
        margin: 0 auto;
        .conteiner{
            width: 1000px;
            margin: 0 auto;
            .header__menu{
                padding: 60px 0;
            }
        }
        .travel__content{
            width: 970px;
            margin: 0 auto;
            .travel__content-block{
                &:last-child{
                    padding: 100px 0;
                }
                .travel__text{
                    width: 400px;
                    @include tText;
                    .travelNum{
                        left: -10%;
                        top: -30%;
                    }
                }
            }
        }
    }
    
}
@media(max-width: 1024px){
    .content{

        .conteiner{
            width: 960px;
            margin: 0 auto;
            .header__menu{
                padding: 60px 0;
            }
        }
        .travel__content{
            width: 970px;
            margin: 0 auto;
            .travel__content-block{
                &:last-child{
                    padding: 100px 0;
                }
                .travel__text{
                    @include tText;
                    .travelNum{
                        left: -10%;
                        top: -30%;
                    }
                }
            }
        }
        footer{
            width: 930px;
            margin: 0 auto;
            .footer__logo{
                color: #fff;
                width: 300px;
            }
            .footer__menu{
                display: flex;
                justify-content: space-between;
                width: 400px;
                color: $clY;
                & a{
                    margin-top: 15px;
                    text-decoration: none;
                    color: #fff;
                }
                .footer__menu-col1{
                    display: flex;
                    flex-direction: column;
                }
                .footer__menu-col2{
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
@media(max-width: 768px){
    .conteiner{
        padding:0 60px;
        .header__menu{
            width: 680px;
            .logo a{
                font-size: 40px;
            }
            .menu__item a{
                font-size: 20px;
            }
            .login a{
                font-size: 20px;
                
            }
        }
        .header__content{
            width: 680px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 100px 0;
            margin: 0;
            .header__content-social{
                display: flex;
                font-size: 20px;
            }
            .header__content-text{
            }
            .header__content-navigate{
                font-size: 20px;
            }
        }
    }
    .travel__content{
        display: flex;
        align-items: center;
        width: 680px;
        margin: 0 auto;
        .travel__content-block{
            flex-direction: column;
            margin-top: 100px;
            &:last-child{
                padding: 100px 0;
            }
            .travel__content-img{
                & img{
                    background-size: cover;
                    width: 400px;
                    height: 500px;
                }
            }
        }
    }
    footer{
        width: 680px;
        margin: 0 auto;
        .footer__logo{
            color: #fff;
            width: 300px;
        }
        .footer__menu{
            display: flex;
            flex-direction: column;
            width: 400px;
            color: $clY;
            & a{
                margin-top: 15px;
                text-decoration: none;
                color: #fff;
            }
            .footer__menu-col1{
                display: flex;
                flex-direction: column;
            }
            .footer__menu-col2{
                display: flex;
                flex-direction: column;
                margin-top: 20px;
            }
        }
    }
}